p = image_tag("weather_icons/#{weather_information.icon}.png")
p = weather_information.description
p = weather_information.current_temp
p = weather_information.temp_max
p = weather_information.temp_min
p = weather_information.humidity
p = weather_information.pressure
p = weather_information.wind_speed
p = weather_information.wind_degree
