header{
  line-height: 3em;
  position: relative;
  background: image-url('nav-banner.jpg') no-repeat;
  text-align : center;
  width: 100%;
  top: 0;
  z-index: 100;
  position: relative;

  .main-logo img {
    width: 15%;
  }

  .locales-icons {
    position: absolute;
    top: 0;
    left: 5px;

    img {
      margin-left: 5px;
      width: 30px;
      height: 30px;
    }
  }
}

nav {
  a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.19);
    color: white;
    padding: 15px;
    cursor: pointer;
    transition: all 0.7s, color 0.3s 0.3s;
  }

  a:hover{
    color: rgba(234, 234, 234, 0.5);
    text-decoration: none;
    box-shadow: 300px 0 0 0  rgba(0,0,0,0.25) inset, -300px 0 0 0  rgba(0,0,0,0.25) inset;
  }

  a.active {
    color: rgba(234, 234, 234, 0.5);
    box-shadow: 300px 0 0 0  rgba(0,0,0,0.25) inset, -300px 0 0 0  rgba(0,0,0,0.25) inset;
  }

  background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);;
  width: 100%;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.2);
  z-index: 999;
  position: absolute;

  .pages {
    margin-left: 100px;
    display: inline-block;
    font-size: 17px;
  }

  .user-menu {
    margin-right: 100px;
    display: inline-block;
    font-size: 17px;
    float: right;
  }

  .username {
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
  }
}
